doctype html
html(lang="en")
	head
		link(href='seman/semantic.min.css', type='text/css', rel='stylesheet')
		script(src='https://code.jquery.com/jquery-2.2.4.min.js', type='text/javascript')
		link(href='seman/semantic.min.js', type='text/javascript', rel='stylesheet')
		title Assignment-2
		.ui.inverted.segment
			.ui.row.grid
				.fourteen.wide.column
					.blue.ui.header.huge LUMINO ADMIN
				.two.wide.column
					.ui.menu.right.floated.inverted
						i.user.icon
						.ui.simple.dropdown.item User
							.ui.dropdown.icon
							.ui.menu
								a.item Profile
								a.item Status
								a.item logout
		br
		.ui.row.grid
			.three.wide.column
				.ui.vertical.menu
					.ui.item
						.ui.input
							input(type="text",placeholder="Search....")
					.ui.item Dashboard
						i.dashboard.icon
					
					.ui.item Widgets
						i.browser.icon
					
					.ui.item Charts
						i.area.chart.icon
					
					.ui.item Forms
						i.edit.icon
					
					.ui.item Alters & Panels
						i.tasks.icon
					
					.ui.item dropdown
						i.arrow.circle.outline.down.icon
						
					br
					br
					.ui.item Logout Page
						i.user.icon
			.four.wide.column
				.ui.segment
					.ui.container.red
						.ui.header.huge.blue.message Info Panel
						.ui.bottom.attached
							i The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for thoseThe standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those  interested.Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
						

			.four.wide.column
				.ui.segment
					.ui.container
						.ui.header.huge.orange.message Warning Panel
						.ui.bottom.attached
							i The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in 
							their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for thoseThe standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those  interested.Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
			.four.wide.column
				.ui.segment
					.ui.container
						.ui.header.huge.red.message Danger Panel
						.ui.bottom.attached
							i The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for thoseThe standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those  interested.Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
			.one.wide.column
		.ui.row.grid
			.three.wide.column
			.six.wide.column
				.text.container
					.ui.header.huge Widgets Panel
				br
				.ui.text
					.ui.orange.message
						.ui.header.huge Blue Panel
						.ui.text
							br
							i The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.	
			.one.wide.column

			.six.wide.column
				br
				br
				.ui.text.raised
					.ui.blue.message
						.ui.header.huge Teal Panel
						.ui.text
							br
							i The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
		.ui.row.grid
			.three.wide.column
			.six.wide.column
				.ui.text
					.ui.green.message
						.ui.header.huge Green Panel
						.ui.text
							br
							i The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.	
			.one.wide.column

			.six.wide.column
				.ui.text.raised
					.ui.red.message
						.ui.header.huge Red Panel
						.ui.text
							br
							i The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

		.ui.row.grid
			.three.wide.column
			.six.wide.column
				.ui.top.attached.tabular.menu.blue
					a.item.active Tab 1
					a.item Tab 2
					a.item Tab 3
				.ui.bottom.attached.tab.active
					br
					.ui.header.large Tab 1
					i The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero.
			.one.wide.column
				br
				br
				br
				i.hand.spock.icon.large
				br
				br
				i.smile.icon.large
				br
				br
				i.hand.peace.icon.large
				br
				br
				
			.six.wide.column
				.ui.secondary.menu
					a.active.item.blue Tab 1
					a.item.green.green Tab 2
					a.item Tab 3
				.ui.bottom.attached.tab.active
					br
					.ui.header.large Tab 1
					i The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero.
			
			