link(rel='stylesheet', href='seman/semantic.css')
script(src='seman/semantic.js')

.ui.three.column.grid
  .ui.two.wide.column
  .ui.eleven.wide.column 
    .ui.eight.teal.inverted.item.menu
      a.item
          | Admin Home  
        a.item
          | Manage Categories
        a.item
          | Manage Users
        a.item
          | Manage Orders
        a.item
          | Settings
        a.item
          | Templates
        a.item
          | Custom details
        a.item
          | Contact
  .ui.three.wide.column
.ui.text.container
  h1
  h1
.ui.four.column.grid
  .ui.two.wide.column
  .ui.three.wide.column  
    .ui.vertical.menu.inverted.teal
      .item
        .ui.input
          input(type='text', placeholder='Search...')
      a.item.green
        i.plus.icon
        | Subcategories
      a.item
        i.plus.icon
        |  Sidebar Settings
      a.item
        i.plus.icon
        | Add new products
      a.item
        | User Reference
      a.item
        | Blue button
      a.item
        | Green button
      a.item
        | Red button
    h1
    .ui.info.message.inverted.blue
      .header
        | User help desk 
        i.users.icon.floated.right
        h6 
        h4 "Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    h5
    .ui.info.message.inverted.blue
      .header.ui.red
        | Important notice
      h6 
      h4 "Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .ui.eight.wide.column
    h3.ui.teal.header Product Categories Settings
    h5
      table.ui.single.line.table.inverted.teal
        thead
          tr
            th
            th Product
            th Details
            th Price
            th Date
            th Edit
            th Delete
        tbody
          tr
            td 
              .uicheckbox.floated.right
                input(type='checkbox')
            td Product Name
            td Details
            td 150$
            td 12/05/2010
            td 
              i.edit.icon
            td 
              i.delete.icon    
          tr
            td 
              .uicheckbox.floated.right
                input(type='checkbox')
            td Product Name
            td Details
            td 150$
            td 12/05/2010
            td 
              i.edit.icon
            td 
              i.delete.icon
          tr
            td 
              .uicheckbox.floated.right
                input(type='checkbox')
            td Product Name
            td Details
            td 150$
            td 12/05/2010
            td 
              i.edit.icon
            td 
              i.delete.icon
          tr
            td 
              .uicheckbox.floated.right
                input(type='checkbox')
            td Product Name
            td Details
            td 150$
            td 12/05/2010
            td 
              i.edit.icon
            td 
              i.delete.icon          
          tr
            td 
              .uicheckbox.floated.right
                input(type='checkbox')
            td Product Name
            td Details
            td 150$
            td 12/05/2010
            td 
              i.edit.icon
            td 
              i.delete.icon
          tr
            td 
              .uicheckbox.floated.right
                input(type='checkbox')
            td Product Name
            td Details
            td 150$
            td 12/05/2010
            td 
              i.edit.icon
            td 
              i.delete.icon
    .ui.four.column.grid
      .ui.two.wide.column
      .ui.four.wide.column
        button.ui.red.button Delete items
      .ui.six.wide.column
        button.ui.blue.button View all items from Category
      .ui.four.wide.column
        button.ui.green.button Add new item  
    h6
     center
        .ui.pagination.menu.inverted.teal
          a.item
            | prev
          a.active.item
            | 1
          a.item
            | 2  
          .disabled.item
            | ...  
          a.item
            | 10
          a.item
            | 11
          a.item
            | 12
          a.item
            | next    
    h5 
    h3.ui.teal.header Warning Box Examples
    .ui.warning.message
      i.warning.sign.icon
      |"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    .ui.positive.message
      i.checkmark.icon
      |"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut           