doctype html
html(lang='en')
  head
    link(href='seman/semantic.min.css', type='text/css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', type='text/javascript')
    link(href='seman/semantic.min.js', type='text/javascript', rel='stylesheet')
    title |Layout
  .ui.inverted.segment
    .ui.row.grid
      .one.wide.column
      .six.wide.column
        .ui.sencondary.inverted.menu.huge
          a.item.pointing(tabindex='0') Home 
          a.item(tabindex='0') Work 
          a.item(tabindex='0') Company 
          a.item(tabindex='0') Careers 
      .five.wide.column
      .four.wide.column
        .right.menu
          button.ui.inverted.button LogIn
          button.ui.inverted.button SignUp
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    .ui.row.grid
      .two.wide.column
      .twelve.wide.column
        center
          h1 Imagine-a-Company
          p
          h2.ui.massive Do whatever you want when you want to.
          p
          br
          .ui.animated.orange.huge.button(tabindex='0')
            .visible.content Get Started
            .hidden.content
              i.right.arrow.icon
      .two.wide.column
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
  // --------------------------------------------details---------------------------------------//
  .ui.row.grid
    .one.wide.column
    .nine.wide.column
      .ui.vertical.segment
        h2.ui.huge.header We Help Companies and Companions
        h4
          | We can give your company superpowers to do things that they never thought possible.
          | Let us delight your customers and empower your needs...through pure data analytics.
          br
          br
          | 						Let us delight your customers and empower your needs...through pure data analytics.
          |                               						We can give your company superpowers to do things that they never thought possible.
      br
      br
      .ui.vertical.segment
        h2.ui.huge.header We Help Companies and Companions
        h4
          | We can give your company superpowers to do things that they never thought possible.
          | Let us delight your customers and empower your needs...through pure data analytics.
          br
          br
          | 						Let us delight your customers and empower your needs...through pure data analytics.
          |                               						We can give your company superpowers to do things that they never thought possible.
      br
      br
      br
      br
      center
        .ui.animated.fade.huge.primary.button(tabindex='0')
          .visible.content Check them Out 
          .hidden.content Check them Out
    .six.wide.column
      .ui.right.floated
        img.ui.large.rounded.image(src='demo.jpg')
  br
  br
  br
  br
  br
  br
  br
  //- // -----------------------------------------------------------details 2----------------------------------------//
  //- .ui.four.column.grid
  //-   .ui.horizontal.divider
  //-     | (:
  //-     - :)
  //-   .one.wide.column
  //-   .seven.wide.column
  //-     h1 Hello
  //-   .ui.vertical.divider or
  //-   .seven.wide.column
  //-     h2 Acer
  //-   .one.wide.column
  //-   .ui.horizontal.divider
  //-     | (:
  //-     - :)