doctype html
html(lang='en')
	head
	link(href='seman/semantic.min.css', type='text/css', rel='stylesheet')
	script(src='https://code.jquery.com/jquery-2.2.4.min.js', type='text/javascript')
	link(href='seman/seman/semantic.min.js', type='text/javascript', rel='stylesheet')
	title TestSublimeText
	.ui.inverted.segment
		.ui.row.grid
			.ui.red.five.wide.column
				p csdbcshdhdhvh
			.ui.blue.four.wide.column
				p csdbcshdhdhvh
			.ui.green.six.wide.column
				p csdbcshdhdhvh
			.ui.black.one.wide.column
				p csdbcshdhdhvh
